<!DOCTYPE html>
<html>
   <%- include('./partials/head.ejs') %>
<body>

   <%- include('./partials/nav.ejs') %>

<div class="index-full">
    <div class="blogs content">
        <h2>List of Events</h2>

        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
            <a class="single" href="/<%= blog._id %>">
                <h3 class=title><%= blog.title %></h3>
                <p class=snippet>Date: <%= new Date(blog.snippet).toLocaleDateString( 'en-gb' );%></p>
                <p class=time>Time: <%= blog.etime %></p>
                <a class="route" href="<%= blog.route %>">Route Link</a>
                <!-- <p class=snippet><blog.snippet %></p> -->
            </a>

            <% }); %>
        <% } else { %>
            <p>There is nothing here</p>
        <%}%> 
    </div>
</div>

   <%- include('./partials/footer.ejs') %>
    <script src="" async defer></script>
</body>
</html>